@font-face {
	@font-face {
    font-family: "IFC";
    font-style: normal;
    font-weight: normal;
    src: url("IFC_RAILROAD_2.eot?#iefix") format("embedded-opentype"), url("IFC_RAILROAD_2.woff") format("woff"), url("IFC_RAILROAD_2.ttf") format("truetype"), url("IFC_RAILROAD_2.svg#JennaSueRegular") format("svg");
}

