
.tstorms,.mostlycloudy,.overcast,.freezingrain,.fog,.snow,.cloudy,.partlycloudy,.chancerain,.chanceflurries ,.chancefreezingrain,.rain,.chancesnow,.chancestorms,.sunny,.mostlysunny,.clear,.sleet,.chancesleet,.hazy,.Scatteredcloud,.flurries  {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
	background:url(../images/weather_icons.png);
    background-position: -3px 5px;
    background-repeat: no-repeat;
    height: 68px;
    width: 67px;
	display:inline-block;
}
.mostlycloudy_small,.cloudy_small,.fog_small,.snow_small,.partlycloudy_small,.sleet_small,.chancesleet_small,.Scatteredcloud_small,.flurries_small,.hazy_small,.chancerain_small,.chanceflurries_small,.chancefreezingrain_small,.rain_small,.chancesnow_small,.chancestorms_small,.sunny_small,.mostlysunny_small,.clear_small,.tstorms_small {
	background:url(../images/weather_icons.png) -78px -124px no-repeat;
	width:52px;
	height:45px;
}
.mostlycloudy{
	  background-position: -3px -103px;
}
.overcast {
	  background-position: -3px -195px;
}
.freezingrain {
	 background-position: -3px -293px;
}
.fog{
	 background-position: -17px -381px;
}
.snow {
	 background-position: -17px -491px;
}
.cloudy,.partlycloudy {
	 background-position: -17px -580px;
}
.chancerain {
     background-position: -154px -577px;
}
.chanceflurries {
	 background-position: -154px -488px;
}
.chancefreezingrain {
	 background-position: -154px -391px;
}
.rain {
	 background-position: -154px -300px;
}
.chancesnow {
	 background-position: -154px -197px;
}
.chancestorms {
     background-position: -141px -105px;
}
.sunny,.mostlysunny,.clear {
	 background-position: -131px 10px;
}
.sleet,.chancesleet{
	 background-position: -17px -680px;
}
.hazy{
	 background-position: -17px -680px;
}
.Scatteredcloud{
	 background-position: -9px -760px;
}
.flurries{
	 background-position: -152px -760px;
}
.cloudy_small {
	 background-position: -73px -23px;
}
.fog_small {
	 background-position: -83px -409px;
}
.snow_small {
	 background-position: -87px -510px;
}
.cloudy_small,.partlycloudy_small {
	 background-position:-87px -605px;
}
.sleet_small,.chancesleet_small {
	 background-position: -87px -707px;
}
.Scatteredcloud_small {
	 background-position: -91px -778px;
}
.flurries_small {
	 background-position: -224px -777px;
}
.hazy_small{
	 background-position: -225px -699px;
}
.chancerain_small {
	background-position: -225px -615px;
}
.chanceflurries_small {
	background-position: -220px -514px;
}
.chancefreezingrain_small {
	background-position: -220px -413px;
}
.rain_small {
	background-position: -220px -325px;
}
.chancesnow_small {
	 background-position: -220px -223px;
}
.chancestorms_small {
     background-position: -210px -130px;
}
.sunny_small,.mostlysunny_small,.clear_small {
	 background-position: -196px -17px;
}
.tstorms_small {
	background-position: -74px -23px;
}

.days{width:50px; text-align:center; padding:10px 0;}


/*category review*/
.category_review_5, .category_review_4_5, .category_review_3_5, .category_review_2_5, .category_review_1_5, .category_review_0_5, .category_review_0, .category_review_1, .category_review_2, .category_review_3, .category_review_4 {
	background:url(../images/Sprite.png) -66px -485px;
    height:22px;
    width:116px;
	float:left;
	display:block;
}
.category_review_0{
	background-position:-3px -483px;
}
.category_review_1{
	background-position:-3px -483px;
}
.category_review_2{
	background-position:-72px -483px;
}
.category_review_3{
	background-position:-50px -483px;
}
.category_review_4{
	background-position:-26px -483px;
}
.category_review_5{
	background-position:-3px -483px;
}

.review_5, .review_4_5, .review_3_5, .review_2_5, .review_1_5, .review_0_5, .review_0, .review_1, .review_2, .review_3, .review_4 {
	background:url(../images/Sprite.png) -261px -339px ;
    height:18px;
    margin:4px 0;
    width:75px;
	float:left;
}
.review_4_5 {
	background-position:-261px -86px;
}
.review_3_5{
	background-position:-276px -356px;
}
.review_2_5{
	background-position:-291px -356px;
}
.review_1_5{
	background-position:-306px -356px;
}
.review_0_5{
	background-position:-322px -356px;
}
.review_0{
	background-position:-336px -339px ;
}
.review_1{
	background-position:-321px -91px;
}
.review_2{
	background-position:-306px -91px;
}
.review_3{
	background-position:-292px -91px;
}
.review_4{
	background-position:-277px -339px;
}





